/node_modules
/public/hot
/public/storage
/public/media
/public/uploads
/public/stats
/storage/uploads
/storage/medialibrary
/storage/*.key
/storage/*.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock
_ide_helper.php
_ide_helper_models.php